# ---------------------------
# Python / Django
# ---------------------------
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.sqlite

# Django specific
**/migrations/__pycache__/
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/*.pyd

# Environment files
.env
*.env

# Byte-compiled
*.egg-info/
.eggs/

# ---------------------------
# Node / React / Next.js / Vite
# ---------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/
.next/
out/
.vite/

# ---------------------------
# OS / Editor files
# ---------------------------
.DS_Store
Thumbs.db

# VSCode / PyCharm
.vscode/
.idea/

# ---------------------------
# Logs & temp
# ---------------------------
*.log
*.tmp
*.temp

# ---------------------------
# Others
# ---------------------------
# Ignore compiled shared libraries
*.so



#ignore the finetuned models
models